.last-holidays-section .h5 {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.last-holidays-section a {
    font-size: 1.1rem;
}

@media screen and (max-width: 576px) {
    .last-holidays-section .h5 {
        font-size: 1.4rem;
    }
}